<header class="header">
<div class="navigation">
{% if page.full_logo %}
<a href="{{ site.baseurl }}/" class="logo">{{ site.title }}</a>
{% else %}
<a href="{{ site.baseurl }}/" class="logo">{{ site.short_logo }}</a>
{% endif %}
<ul class="menu">
<li class="menu__entry"><a href="{{ site.baseurl}}/">about</a></li>
<li class="menu__entry"><a href="{{ site.baseurl }}/projects">projects</a></li>
<li class="menu__entry"><a href="{{ site.baseurl }}/posts">posts</a></li>
</ul>
</div>
<ul class="social-links">
{% if site.author.email %}
<a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank">
<i class="fas fa-envelope-square"></i>
</a>
{% endif %}
{% if site.author.github %}
<a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
<i class="fab fa-github"></i>
</a>
{% endif %}
{% if site.author.linkedin %}
<a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
<i class="fab fa-linkedin-in"></i>
</a>
{% endif %}
</ul>
</header>