<meta charset="utf-8" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="{{ site.baseurl }}{{ page.url | replace:'index.html','' }}">

{% if page.c_title %}
<title>{{ page.c_title }}</title>
{% else %}
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
{% endif %}

{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% elsif page.layout == "post" %}
<meta name="description" content="{{ page.content | strip_html | truncatewords: 25, "" }}">
{% else %}
<meta name="description" content="{{ site.description }}">
{% endif %}

{% if page.author %}
<meta name="author" content="{{ page.author.name }}">
{% elsif page.layout == "post" and site.author.name %}
<meta name="author" content="{{ site.author.name }}">
{% endif %}

{% if page.index == false %}
<meta name="robots" content="noindex">
{% endif %}

{% if site.g_track_id %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.g_track_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.g_track_id }}');
</script>
{% endif %}
