---
layout: page
title: Posts
subtitle: Random thoughts.
permalink: /posts/
---
{% for post in site.posts %}
    {% unless post.listed == false %}
   <div class="card mb-4">
        <div class="card-body">
            <h5><a class="stretched-link" href="{{ post.url | prepend: site.baseurl }}"><b>{{ post.title }}</b></a></h5>
            <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            <p class="post-title__subtitle">Published {{ post.date | date: "%b %e, 20%y" }} {% if post.updated %} (Updated {{ post.updated | date: "%b %e, %y" }}20) {% endif %} by {{post.author}}<br />
                {% for tag in post.tags %}
                    <span class="badge badge-info">#{{ tag }}</span>
                {% endfor %}
        </div>
    </div>
    {% endunless %}
{% endfor %}