<div class="card mb-4">
    {% if project.img_src %}
    <img class="card-img-top" src="{{ site.baseurl }}{{ project.img_src }}">
    {% endif %}
    <div class="card-body">
      {% for tag in project.tags %}
        {% include tag_list.html %}
      {% endfor %}
      <h5><b><a data-toggle="collapse" class="stretched-link" href="#{{ project.id }}" role="button" aria-expanded="false"
          aria-controls="collapseExample">{{ project.name }}</a></b></h5>
      <p>{{ project.description_less }}</p>
      <div class="collapse" id="{{ project.id }}">
        {{ project.description_more }}
      </div>
    </div>
  </div>